{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'sign.css' %}">
    <title>삼겹살</title>
</head>

<body>
<div class="container left-panel-active">
    <!-- 로그인 -->
    <div class="container__form container--signin">
        <form action="#" class="form" method="post" id="form2">
            {% csrf_token %}
            <h2 class="form__title">로그인</h2>
            <input type="email" placeholder="이메일" class="input" id="name" name="login_email">
            <input type="password" placeholder="비밀번호" class="input" id="password" name="login_password">
            <a href="#" class="link">Tip 비밀번호를 잊으셨나요?</a>
            <button class="btn" type="submit">접속</button>
        </form>
    </div>

    <!-- 회원가입 -->
    <div class="container__form container--signup">
        <form action="#" class="form" method="post" id="form1">
            {% csrf_token %}
            <h2 class="form__title">회원가입</h2>
            <input type="text" placeholder="이름" class="input" name="name">
            <input type="email" placeholder="이메일" class="input" name="email">
            <input type="password" placeholder="비밀번호" class="input" name="password">
            <input type="password" placeholder="비밀번호 확인" class="input" name="password2">
            <button class="btn" type="submit">회원가입완료</button>
        </form>
    </div>

    <!-- 베이스 동작 -->
    <div class="container__overlay">
        <div class="overlay">
            <div class="overlay__panel overlay--left">
                <button class="btn" id="signIn">로그인하기</button>
            </div>
            <div class="overlay__panel overlay--right">
                <button class="btn" id="signUp">회원가입하기</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'sign_move.js' %}"></script>

</body>

</html>