<!-- 상단 네비게이션 -->
{% extends 'base.html' %}

{% block content %}
<div class="container timeline-container">
    <div class="row">
        <!-- 왼쪽 컬럼 -->
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> 지도 </h5>
                    <div class="empty-box"></div>
                </div>
            </div>
        </div>
        <!-- 오른 쪽 컬럼-->
        <div class="col">
            <!-- 글을 작성 하는 곳 -->
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title"> 사진 </h5>
                            <div class="empty-box"></div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="mt-0"> 상세 내용 </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
