{% extends 'base.html' %}

{% block title %}
로그인
{% endblock %}
{% block content %}
<div class="container">
    <div class="wrap-mypage">
        <div class="profile-pic"></div>
        <div class="profile-content">
            <div class="profile">
                <h5> {{ user.username }} </h5>
                <p style="font-size: small">{{ user.email }}</p>
                <p> {{ user.bio }} </p>
            </div>
            <div class="profile-btn">
                <a href="/my-page/{{ user.id }}/my-feed" class="btn btn-dark">내 게시물 보기</a>
                <a href="/" class="btn btn-dark ms-2">개인 정보 수정</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}