{% extends 'base.html' %}

{% block title %}
로그인
{% endblock %}
{% block content %}
<div class="container">
    <div class="wrap-mypage">
        {% if other.profile_pic %}
        <img class="profile-pic" src="{{other.profile_pic.url}}">
        {% else %}
        <div class="profile-pic"></div>
        {% endif %}
        <div class="profile-content">
            <div class="profile">
                <h5> {{ other.username }} </h5>
                <p style="font-size: small">{{ other.email }}</p>
                <p> {{ other.bio }} </p>
            </div>
            <div class="profile-btn">
                <a href="/my-page/{{ other.id }}/my-feed" class="btn btn-dark">{{other.username}}의 게시물 보기</a>
                {% if other == user %}
                <a href="/my-page/{{ user.id }}/profile-update" class="btn btn-dark ms-2">개인 정보 수정</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}